<div class="columns-inner jqeditorial-renderer">
    {{#if_is_array contents}}
        {{#each contents}}
            {{{this}}}
        {{/each}}
    {{else}}
        {{{contents}}}
    {{/if_is_array}}
</div>
<div class="editorial-columns-inner jqeditorial-rendered clearfix">

</div>
